<div style="padding-right:15px;" class="container-fluid">

  <!-- form header -->
  <div class="row">
    <div class="col">
      <h1>Reactive Forms</h1>
      <hr>
    </div>
  </div>

  <!-- main form -->
  <div class="row">
    <form action="" style="width:100%;">
      <div class="col">

        <!-- personal info -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="fnText">First Name</label>
              <input type="text" class="form-control" id="fnText" placeholder="Enter first name">
              <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="lnText">Last Name</label>
              <input type="text" class="form-control" id="lnText" placeholder="Enter last name">
              <small id="fnHelp" class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
        </div>


        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>


        <!-- address form portion -->
        <div class="row">
          <div class="col-12">
            <label for="" class="form-check-inline">Choose Type</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="permanent">
              <label class="form-check-label" for="inlineRadio1">Permanent</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="temporary">
              <label class="form-check-label" for="inlineRadio2">Temporary</label>
            </div>
            <label class="form-check-inline" for="inlineRadio2">Expiry Date</label>
            <div class="form-check form-check-inline">              
              <input type="date" class="form-control" name="expiryDate" id="dateInput1">
            </div>
            <small class="form-check-inline form-text custom-invalid-feedback">Pick one option.</small>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label for="addText">Street Address</label>
              <input type="text" class="form-control" id="addText" placeholder="Enter street address">
              <small class="form-text custom-invalid-feedback">Field is required</small>
            </div>
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="city">City</label>
                  <input type="text" class="form-control" id="city" placeholder="Enter city">
                  <small class="form-text custom-invalid-feedback">Field is required</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="state">State</label>
                  <select id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of states" [value]="item">{{item}}</option>
                  </select>
                  <small class="form-text custom-invalid-feedback">Field is required</small>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="zipcode">Zip Code</label>
                  <input type="text" class="form-control" id="zipcode" placeholder="Enter city">
                  <small class="form-text custom-invalid-feedback">Field is required</small>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- seperator -->
        <div class="row">
          <div class="col">
            <hr>
          </div>
        </div>

        <!-- final action buttons -->
        <div class="row justify-content-center">
          <div class="col-2">
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>